fastapi==0.104.1
uvicorn[standard]==0.24.0
sqlalchemy==2.0.23
pydantic==2.5.0
pydantic-settings==2.1.0
python-dateutil==2.8.2
apscheduler==3.10.4
alembic==1.13.1
google-api-python-client==2.197.0
requests==2.34.2
pystray==0.19.5
Pillow==10.1.0
python-dotenv==1.0.0
slowapi==0.1.9
